@{
    ViewData["Title"] = "Update Classroom";
}
@model UpdateClassroomDTO
<section class="h-100 bg-dark">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0 d-flex justify-content-center align-items-center">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style=" height:600px; width:700px;border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase d-block">Sınıf Güncelle</h3>

                                <form asp-action="UpdateClassroom">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreatedDate" />
                                    <input type="hidden" asp-for="UpdatedDate" />
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label" for="form3Example1m" asp-for="ClassroomName"></label>
                                                <input id="form3Example1m" asp-for="ClassroomName" class="form-control form-control-lg" />
                                                <span asp-validation-for="ClassroomName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <label asp-for="Description" class="form-label" for="form3Example1n"></label>
                                                <input asp-for="Description" id="form3Example1n" class="form-control form-control-lg" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <label asp-for="TeacherId" class="form-label" for="form3Example1m1"></label>
                                                <select asp-for="TeacherId" class="form-control form-control-lg">
                                                    <option disabled selected value="0">Lütfen bir öğretmen seçiniz</option>
                                                    @foreach (var teacher in Model.Teachers)
                                                    {
                                                        <option value="@teacher.Id">@teacher.Name</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-end pt-3">
                                        <a asp-action="Index" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Geri Dön</a>
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Kaydet</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>